@using MyFramework.Business.Abstract
@using MyFramework.Business.DependencyResolvers.Ninject
@{
    var languageService = DependencyResolver<ILanguageService>.Resolve();
}
<style>
    .language .dropdown-menu> li > a {
        display: initial;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
</style>
<li class="language dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Word("Language") <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        @foreach (var item in languageService.GetAll())
        {
            <li>
                <img src="@item.Image">
                @Html.ActionLink( Word(item.Name).ToString(), "ChangeCulture", "Anasayfa", new {dilId = item.LanguageId, lang = item.Code, returnUrl = this.Request.RawUrl}, null)

            </li>
        }
        
    </ul>
</li>
@*@model BayiPuan.MvcWebUi.GenericVM.Models.LanguageListViewModel

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Word("General.Languages") <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        @foreach (var language in Model.Languages)
        {
            <li>@Html.ActionLink(language.Name, "ChangeCulture", "Home", new { dilId = language.Id, lang = language.Code, returnUrl = this.Request.RawUrl }, null)</li>
        }
    </ul>
</li>*@